SERPLENO_API_URL=http://127.0.0.1:8000
# SERPLENO_DESKTOP_API_URL=http://127.0.0.1:8000/api/v1/desktop
# SERPLENO_MURAL_API_URL=http://127.0.0.1:8000/api/mural

SERPLENO_DB_HOST=roundhouse.proxy.rlwy.net
SERPLENO_DB_PORT=13953
SERPLENO_DB_USER=root
SERPLENO_DB_PASSWORD=sua_senha_railway
SERPLENO_DB_NAME=railway
