SERPLENO_API_URL=http://127.0.0.1:8000
# SERPLENO_DESKTOP_API_URL=http://127.0.0.1:8000/api/v1/desktop
# SERPLENO_MURAL_API_URL=http://127.0.0.1:8000/api/mural

SERPLENO_DB_HOST=127.0.0.1
SERPLENO_DB_PORT=3306
SERPLENO_DB_USER=serpleno
SERPLENO_DB_PASSWORD=senha
SERPLENO_DB_NAME=ser_pleno
