altgraph==0.17.5
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
bcrypt==5.0.0
black==26.5.1
certifi==2026.6.17
cffi==2.1.0
charset-normalizer==3.4.7
click==8.4.2
colorama==0.4.6
coverage==7.15.0
customtkinter==6.0.0
darkdetect==0.8.0
idna==3.18
iniconfig==2.3.0
mypy_extensions==1.1.0
mysql-connector-python==9.7.0
packaging==26.2
passlib==1.7.4
pathspec==1.1.1
pefile==2024.8.26
pillow==12.3.0
platformdirs==4.10.0
pluggy==1.6.0
pycparser==3.0
Pygments==2.20.0
pyinstaller==6.22.0
pyinstaller-hooks-contrib==2026.6
pytest==9.1.1
pytest-cov==7.1.0
pytokens==0.4.1
pywin32-ctypes==0.2.3
requests==2.34.2
-e git+https://github.com/MuriloMOV/desktop_serpleno.git@3a601b4f6819b0e37c6b497010ae4d9643dfc19e#egg=ser_pleno
ser-pleno-desktop==1.0.0
setuptools==84.0.0
urllib3==2.7.0
wheel==0.48.0
